.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: radial-gradient(
    circle,
    rgba(174, 238, 185, 1) 0%,
    rgba(173, 18, 0, 1) 100%
  );
}
